@import "tailwindcss";
@plugin "daisyui";

li {
    margin-right: 10px;
}

a.active {
    color: #5FCF80;
    font-weight: 700;
    text-decoration: underline;
}

.bg_easy {
    background-color:darkgreen;
}

.bg_medium {
    background-color:darkgoldenrod;
}

.bg_difficult {
    background-color: brown;
}