@import "tailwindcss";
@plugin "daisyui";

li {
    margin-right: 10px;
}

a.active {
    color: #5FCF80;
    font-weight: 700;
    text-decoration: underline;
}

.bg_easy {
    background-color:darkgreen;
}

.bg_medium {
    background-color:darkgoldenrod;
}

.bg_difficult {
    background-color: brown;
}

.bg_language-lab {
    background-image: url('../src/assets/images/language-lab.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_cup-grammar-books {
    background-image: url('../src/assets/images/cup-grammar-books-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_laptop-login-screen {
    background-image: url('../src/assets/images/laptop-login-screen.jpg');
}

.bg_language {
    background-image: url('../src/assets/images/language.jpg');
}

.bg_symbol-scatter {
    background-image: url('../src/assets/images/symbol-scatter-haikei.svg');
}

.bg_soundWave {
    background-image: url('../src/assets/images/soundWave.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_undraw-user-account {
    background-image: url('../src/assets/images/undraw_user-account.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_worldMapSaudiArabia {
    background-image: url('../src/assets/images/worldMap,SaudiArabia.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_ranger {
    background-image: url('../src/assets/images/ranger.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}