@import "tailwindcss";
@plugin "daisyui";

li {
    margin-right: 10px;
}

a.active {
    color: #5FCF80;
    font-weight: 700;
    text-decoration: underline;
}

.bg_easy {
    background-color:darkgreen;
}

.bg_medium {
    background-color:darkgoldenrod;
}

.bg_difficult {
    background-color: brown;
}

.card {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
}